html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
h1, h2 {
    font-weight: 200;
}

#backgroundWrapper {
    filter: grayscale(1.0);
    object-fit: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.full-screen {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.bottom-right-sm-text {
    font-weight: 500;
    font-size: 0.75em;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.p-btn {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
    user-select: none;
    font-size: 0.95rem;
    line-height: 1.43;
}

.p-btn:hover {
    background-color: rgba(77, 77, 77, 1.0);
    color: white;
}
.p-btn:active {
    background-color: rgba(12, 12, 12, 1.0);
    color: white;
}

.p-btn-link {
    cursor: pointer;
    background-color: transparent;
    color: black;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    font-size: 0.95rem;
    line-height: 1.43;
}
.p-btn-link:hover {
    background-color: transparent;
    color: rgba(77, 77, 77, 1.0);
    text-decoration: underline;
    padding: 5px 15px 5px 15px;
    font-size: 0.95rem;
    line-height: 1.43;
}
.p-btn-link:active {
    background-color: transparent;
    color: black;
    text-decoration: underline;
    padding: 5px 15px 5px 15px;
    font-size: 0.95rem;
    line-height: 1.43;
}

.p-link {
    color: black;
    text-decoration: none;
}
.p-link:hover {
    color: rgba(77, 77, 77, 1.0);
    text-decoration: underline;
}
.p-link:active {
    color: black;
    text-decoration: underline;
}

.p-header-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hover-shadow {
    transition: box-shadow 0.25s;
    filter: grayscale(1.0);
}
.hover-shadow:hover {
    box-shadow: 0 0 16px rgba(33,33,33,.2);
    filter: grayscale(0);
}